In [ ]:
import pandas as pd
import numpy as np

mydf = pd.read_csv("PSE_his-wlk-cal.csv")


#display(mydf.head)

#mydf['dtime']
mydf.head() #first 5 cols
mydf.tail()
mydf.dtypes

In [ ]:
mydf.describe()

In [ ]:
mydf['jgw1']

In [ ]:
mydf.loc[5:8]

In [ ]:
mydf.columns

In [ ]:
#subsetting columns 

df2 = mydf[['dtime_utc', 'period_utc', 'dtime', 'period', 'business_date',
       'publication_ts', 'publication_ts_utc']]

In [ ]:
df2.head()

In [ ]:
df2.describe()

In [ ]:
df2.shape

In [ ]:
mydf.shape

In [ ]:
# subsettting rows

mydf.loc[mydf['jgw1'] > 33]

In [44]:
mydf.query('jgw1 > 12000')

,dtime_utc,period_utc,dtime,period,business_date,publication_ts,publication_ts_utc,jg,pv,wi,...,jgm1,jgm2,jgw1,jgw2,jgz1,jgz2,jgz3,jnwrb,swm_p,swm_np
22,2025-02-01 05:30:00,05:15 - 05:30,2025-02-01 06:30:00,06:15 - 06:30,2025-02-01,2026-01-18 02:27:15.804,2026-01-18 01:27:15.804,12061.174,0.000,2942.784,...,0.00,NaN,12061.174,NaN,NaN,NaN,NaN,7585.702,-3441.190,728.926
23,2025-02-01 05:45:00,05:30 - 05:45,2025-02-01 06:45:00,06:30 - 06:45,2025-02-01,2026-01-18 02:27:15.804,2026-01-18 01:27:15.804,12524.913,0.000,2822.379,...,0.00,NaN,12524.913,NaN,NaN,NaN,NaN,7400.837,-3531.000,733.184
24,2025-02-01 06:00:00,05:45 - 06:00,2025-02-01 07:00:00,06:45 - 07:00,2025-02-01,2026-01-18 02:27:15.804,2026-01-18 01:27:15.804,12848.546,0.000,2595.225,...,20.73,NaN,12827.816,NaN,NaN,NaN,NaN,7167.818,-3395.169,758.286
25,2025-02-01 06:15:00,06:00 - 06:15,2025-02-01 07:15:00,07:00 - 07:15,2025-02-01,2026-01-18 02:27:15.804,2026-01-18 01:27:15.804,13074.556,11.387,2514.963,...,30.82,NaN,13043.736,NaN,NaN,NaN,NaN,7147.005,-3465.505,767.980
26,2025-02-01 06:30:00,06:15 - 06:30,2025-02-01 07:30:00,07:15 - 07:30,2025-02-01,2026-01-18 02:27:15.804,2026-01-18 01:27:15.804,13408.645,28.218,2410.962,...,30.86,NaN,13377.785,NaN,NaN,NaN,NaN,7051.045,-3413.716,767.916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2675,2025-02-28 20:45:00,20:30 - 20:45,2025-02-28 21:45:00,21:30 - 21:45,2025-02-28,2026-01-18 02:33:23.774,2026-01-18 01:33:23.774,12355.245,0.000,1983.448,...,162.70,NaN,12192.545,NaN,NaN,NaN,NaN,7038.632,302.458,554.231
2677,2025-02-28 21:15:00,21:00 - 21:15,2025-02-28 22:15:00,22:00 - 22:15,2025-02-28,2026-01-18 02:33:23.774,2026-01-18 01:33:23.774,12498.169,0.000,1883.530,...,162.50,NaN,12335.669,NaN,NaN,NaN,NaN,6904.485,-498.094,491.457
2678,2025-02-28 21:30:00,21:15 - 21:30,2025-02-28 22:30:00,22:15 - 22:30,2025-02-28,2026-01-18 02:33:23.774,2026-01-18 01:33:23.774,12479.434,0.000,1879.755,...,162.60,NaN,12316.834,NaN,NaN,NaN,NaN,6897.838,-520.376,489.621
2679,2025-02-28 21:45:00,21:30 - 21:45,2025-02-28 22:45:00,22:30 - 22:45,2025-02-28,2026-01-18 02:33:23.774,2026-01-18 01:33:23.774,12278.609,0.000,1941.524,...,0.00,NaN,12278.609,NaN,NaN,NaN,NaN,6963.916,-735.215,490.991
2681,2025-02-28 22:15:00,22:00 - 22:15,2025-02-28 23:15:00,23:00 - 23:15,2025-02-28,2026-01-18 02:33:23.774,2026-01-18 01:33:23.774,12003.351,0.000,1934.104,...,0.00,NaN,12003.351,NaN,NaN,NaN,NaN,6918.623,-999.498,552.829

In [58]:
#sumuje wszystkie wiersze gdzie jgm1 == 0

#mydf.query('jgm1 ==0').sum()

#zlicza ilosc wierszy spelniajacych:
(mydf['jgm1']>0).sum()

np.int64(1088)

In [60]:
mydf.dtypes

dtime_utc              object
period_utc             object
dtime                  object
period                 object
business_date          object
publication_ts         object
publication_ts_utc     object
jg                    float64
pv                    float64
wi                    float64
demand                float64
jga                   float64
jgm                   float64
jgo                   float64
jgm1                  float64
jgm2                  float64
jgw1                  float64
jgw2                  float64
jgz1                  float64
jgz2                  float64
jgz3                  float64
jnwrb                 float64
swm_p                 float64
swm_np                float64
dtype: object

In [61]:
mydf.dtypes

dtime_utc              object
period_utc             object
dtime                  object
period                 object
business_date          object
publication_ts         object
publication_ts_utc     object
jg                    float64
pv                    float64
wi                    float64
demand                float64
jga                   float64
jgm                   float64
jgo                   float64
jgm1                  float64
jgm2                  float64
jgw1                  float64
jgw2                  float64
jgz1                  float64
jgz2                  float64
jgz3                  float64
jnwrb                 float64
swm_p                 float64
swm_np                float64
dtype: object

In [65]:
mydf['dtime_utc'] = pd.to_datetime(mydf['dtime_utc'])

In [66]:
mydf.dtypes

dtime_utc             datetime64[ns]
period_utc                    object
dtime                         object
period                        object
business_date                 object
publication_ts                object
publication_ts_utc            object
jg                           float64
pv                           float64
wi                           float64
demand                       float64
jga                          float64
jgm                          float64
jgo                          float64
jgm1                         float64
jgm2                         float64
jgw1                         float64
jgw2                         float64
jgz1                         float64
jgz2                         float64
jgz3                         float64
jnwrb                        float64
swm_p                        float64
swm_np                       float64
dtype: object

In [67]:
mydf.head()

,dtime_utc,period_utc,dtime,period,business_date,publication_ts,publication_ts_utc,jg,pv,wi,...,jgm1,jgm2,jgw1,jgw2,jgz1,jgz2,jgz3,jnwrb,swm_p,swm_np
0,2025-02-01 00:00:00,23:45 - 24:00,2025-02-01 01:00:00,00:45 - 01:00,2025-02-01,2026-01-18 02:27:15.804,2026-01-18 01:27:15.804,11431.255,0.0,4105.762,...,0.0,NaN,11431.255,NaN,NaN,NaN,NaN,8818.193,-4206.966,465.296
1,2025-02-01 00:15:00,00:00 - 00:15,2025-02-01 01:15:00,01:00 - 01:15,2025-02-01,2026-01-18 02:27:15.804,2026-01-18 01:27:15.804,11437.325,0.0,4094.573,...,0.0,NaN,11437.325,NaN,NaN,NaN,NaN,8790.240,-4065.553,571.629
2,2025-02-01 00:30:00,00:15 - 00:30,2025-02-01 01:30:00,01:15 - 01:30,2025-02-01,2026-01-18 02:27:15.804,2026-01-18 01:27:15.804,11348.854,0.0,4063.242,...,0.0,NaN,11348.854,NaN,NaN,NaN,NaN,8760.742,-4298.534,573.299
3,2025-02-01 00:45:00,00:30 - 00:45,2025-02-01 01:45:00,01:30 - 01:45,2025-02-01,2026-01-18 02:27:15.804,2026-01-18 01:27:15.804,11361.732,0.0,3972.921,...,0.0,NaN,11361.732,NaN,NaN,NaN,NaN,8665.161,-4194.684,574.035
4,2025-02-01 01:00:00,00:45 - 01:00,2025-02-01 02:00:00,01:45 - 02:00,2025-02-01,2026-01-18 02:27:15.804,2026-01-18 01:27:15.804,11300.089,0.0,3892.671,...,0.0,NaN,11300.089,NaN,NaN,NaN,NaN,8564.046,-4229.116,645.660

In [74]:
mydf.head()

,dtime_utc,period_utc,dtime,period,business_date,publication_ts,publication_ts_utc,jg,pv,wi,...,jgm2,jgw1,jgw2,jgz1,jgz2,jgz3,jnwrb,swm_p,swm_np,ratio
0,2025-02-01 00:00:00,23:45 - 24:00,2025-02-01 01:00:00,00:45 - 01:00,2025-02-01,2026-01-18 02:27:15.804,2026-01-18 01:27:15.804,11431.255,0.0,4105.762,...,NaN,11431.255,NaN,NaN,NaN,NaN,8818.193,-4206.966,465.296,0.359170
1,2025-02-01 00:15:00,00:00 - 00:15,2025-02-01 01:15:00,01:00 - 01:15,2025-02-01,2026-01-18 02:27:15.804,2026-01-18 01:27:15.804,11437.325,0.0,4094.573,...,NaN,11437.325,NaN,NaN,NaN,NaN,8790.240,-4065.553,571.629,0.358001
2,2025-02-01 00:30:00,00:15 - 00:30,2025-02-01 01:30:00,01:15 - 01:30,2025-02-01,2026-01-18 02:27:15.804,2026-01-18 01:27:15.804,11348.854,0.0,4063.242,...,NaN,11348.854,NaN,NaN,NaN,NaN,8760.742,-4298.534,573.299,0.358031
3,2025-02-01 00:45:00,00:30 - 00:45,2025-02-01 01:45:00,01:30 - 01:45,2025-02-01,2026-01-18 02:27:15.804,2026-01-18 01:27:15.804,11361.732,0.0,3972.921,...,NaN,11361.732,NaN,NaN,NaN,NaN,8665.161,-4194.684,574.035,0.349676
4,2025-02-01 01:00:00,00:45 - 01:00,2025-02-01 02:00:00,01:45 - 02:00,2025-02-01,2026-01-18 02:27:15.804,2026-01-18 01:27:15.804,11300.089,0.0,3892.671,...,NaN,11300.089,NaN,NaN,NaN,NaN,8564.046,-4229.116,645.660,0.344481

In [71]:
mydf['ratio']

KeyError: 'ratio'